<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="portalApp">
<div id="header"></div>
<div class="content">
    <div ng-controller="PortalController" class="login">
        <div id="existingUser" ng-hide="showHere">
            </br>
            <!-- Display text box to add new listings -->
            <div ng-app ng-controller="loginUser" style="line-height: 10pt;">
                <div class="form">
                    <ul>
                        <li><h2>Current User</h2></li>
                        <li><label>Email<input ng-model="loginInfo.email" type="email" placeholder="ex: myname@example.com" data-component="email"></label>                        </li>
                        <li><label>Password<input ng-model="loginInfo.password" type="text"></label></li>
                    </ul>
                </div>
            </div>
            <a href="#" ng-click="showHere = true">New User?</a>
        </div>
        <div id="newUser" ng-show="showHere">
            </br>
            <!-- Display text box to add new listings -->
            <div ng-app ng-controller="newUser" style="line-height: 10pt;">
                <div class="form">
                    <ul>
                        <li><h2>New User</h2></li>
                        <li><h6>Name</h6></li>
                        <li>
                            <label>First Name<input type="text" ng-model="newUser.first_name"></label>
                            <label>Last Name<input type="text" ng-model="newUser.last_name"></label>
                        </li>
                        <li>
                            <label>Email<input type="email" ng-model="newUser.email" placeholder="ex: myname@example.com" data-component="email"></label>
                        </li>
                        <li>
                            <label>Password<input type="text" ng-model="newUser.password"></label>
                            <label>Verify Password<input type="text" ng-model="newUser.verifyPassword"></label>
                        </li>
                        <li>
                            <label>Cell Phone<input type="text" ng-model="newUser.cell_number"></label>
                            <label>Alt Phone<input type="text" ng-model="newUser.alt_number"></label>
                        </li>
                        <li><label>Street<input type="text" ng-model="newUser.street"></label></li>
                        <li><label>City<input type="text" ng-model="newUser.city"></label></li>
                        <li><label>State<input type="text" ng-model="newUser.state"></label></li>
                        <li><label>Zip<input type="text" ng-model="newUser.zip"></label></li>
                        <li><label style="text-align: center">Subscribe to Newsletter?<input type="checkbox" ng-model="newUser.subscribe"></label></li>
                    </ul>
                </div>
                <input type="submit" ng-click="login()" value="Create Account"/>
                </br></br>
            </div>
            <a href="#" ng-click="showHere = false">Existing User?</a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/portalMethods.js"></script>
<script src="js/controllers/portalController.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/scripts/content.js"></script>
</body>
</html>