<div class="navbar">
    <img src="images/DanceWithDawn.png" alt="Dance with Dawn" height="128">
    <% if(currentUser){ %>
        <a href="#">Signed In As <%= currentUser.username %></a>
    <% } %>
    <div class="dropdown" style="text-align: left" style="position: relative;">
        <button class="dropbtn" style="position: absolute; top: 80px; right: 0;">
            <img src="images/menu.png" height="32">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content"  style="right: 0;">
            <% if(!currentUser){ %>
                <a href="/index"> Home </a>
                <a href="/faq">QA Page</a>
                <a href="/aboutme">Meet Me</a>
                <a href="/calendar">Calendar</a>
                <a href="/forms">Forms</a>            
                <a href="/lessons">My Lessons</a>
                <a href="/contact">Contact Me</a>
                <a href="/login">Login</a>
                <a href="/register">Sign Up!</a>
            <% } else { %>
                <% if(currentUser.isAdmin){ %>
                    <a href="/index"> Home </a>
                    <a href="/faq">QA Page</a>
                    <a href="/aboutme">Meet Me</a>
                    <a href="/calendar">Calendar</a>
                    <a href="/forms">Forms</a>            
                    <a href="/lessons">My Lessons</a>
                    <a href="/contact">Contact Me</a>
                    <a href="/admin_faq">Admin QA Page</a>
                    <a href="/admin_text">Admin Text</a>
                    <a href="/admin_photos">Admin Photos</a>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/index"> Home </a>
                    <a href="/faq">QA Page</a>
                    <a href="/aboutme">Meet Me</a>
                    <a href="/calendar">Calendar</a>
                    <a href="/forms">Forms</a>            
                    <a href="/lessons">My Lessons</a>
                    <a href="/contact">Contact Me</a>
                    <a href="/parent_settings"> Settings </a>
                    <a href="/parent_pictures"> Pictures </a>
                    <a href="/parent_forms"> Forms </a>
                    <a href="/paypal-temp"> Pay For Classes</a>
                    <a href="/parent_portal"> Parent Portal Home </a>
                    <a href="/logout">Logout</a>
                <% } %>
            <% } %>
        </div>
    </div>
</div>