body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
}

#searchBar {
    margin: 15px 10px;
}

.tableWrapper {
    max-height: 400px;
    overflow: auto;
}

.navbar {
    overflow: hidden;
    background-color: #22bba8;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.dropdown a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    left: 0;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9EE9DC;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d5a6bd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-variant: small-caps;
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #d5a6bd;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 0px 20px;
}

input[type=submit] {
    background-color: #a3a3a3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b5b3b3;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.form input {
    display: inline-block;
    width: 200px;
    position: relative;
    top: -3em;
}

.form label {
    display: inline-block;
    width: 200px;
    margin-right: .5em;
    padding-top: 1.5em;
    font-size: 10px;
}

.pageContent {
    line-height: normal;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #636363;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 5px;
}

.homepagediv {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 10pt;
    display: inline-block;
}

.homepagediv.container {
    width: 100%;
    text-align: center;
}

#left {
    float: left;
    width: 30%;
}

#right {
    float: right;
    width: 30%;
}

#center {
    margin: 0 auto;
    width: 30%;
}

.trial_div{
    line-height: normal;
}

.trial_header{
    font-variant: small-caps;
    color: #550FCD;
}

.trial_subheader{
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
}

/* Add a background color and some padding around the form */
.contactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.tableWrapper {
    max-height: 400px;
    overflow: auto;
}

.ppStaticMenu {
    color: #22bba8;
}

.ppStaticMenu a {
  text-decoration: none;
  color: #22bba8;
}

@media only screen and (max-width: 768px) {
    b {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    b {
        font-size: 10px;
    }
}

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 13px;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}
table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}