<% include ./partials/header %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin FAQ</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" href="images/logo_nowords.png" type="image/png">
</head>
<body ng-app="faq_app">
<div class="content">
    <div ng-controller="FAQController">
        <table class="table table-striped table-hover">
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            <tr ng-repeat="faq in faq_text" ng-click="display.show = 1;showDetails(faq);add.show = 0">
                <td>{{faq.question}}</td>
                <td>{{faq.answer}}</td>
            </tr>
        </table>
        <div ng-click="add.show = 1; display.show = 0">CLICK HERE TO ADD NEW FAQ</div>
        <div class="jumbotron" style="line-height: 10pt; width:50%" ng-show="add.show == 1">
            <!-- Display detailed information -->
            <h2>Add New FAQ</h2></br></br>
            <div class="contactform" ng-app ng-controller="addFAQ">
                <label for="newquestion">Question</label>
                <input type="text" ng-model="newFAQ.question" id="newquestion"/>
                <label for="newanswer">Answer</label></br>
                <textarea ng-model="newFAQ.answer" id="newanswer" name="newanswer"
                          style="height:200px; line-height: normal;"></textarea>
                <button confirmed-click="sendNewFAQ()" ng-confirm-click="Add FAQ?">Add?</button>
            </div>
        </div>
        <div class="jumbotron" style="line-height: 10pt; width:50%" ng-show="display.show == 1" ng-app ng-controller="editFAQ">
            <!-- Display detailed information -->
            <h2>Update FAQ</h2></br></br>
            <div class="contactform">
                <label id="order">Current Position: {{selectedFAQ.order}}</label></br>
                <label for="order">New Position?</label> <select style="width: 75px;" ng-model="dropdownFAQ" ng-change="changedValue(dropdownFAQ)">
                <option>{{selectedFAQ.order}}</option>
                <option ng-repeat="faq in faq_text | filter:{ order: '!' + selectedFAQ.order}">{{faq.order}}</option>
            </select></br>
                <label for="question">Question</label>
                <input type="text" ng-model="updatedFAQ.question" id="question"/>
                <label for="answer">Answer</label></br>
                <textarea ng-model="updatedFAQ.answer" id="Answer" name="Answer"
                          style="height:200px; line-height: normal;"></textarea>
                <button confirmed-click="updateFAQ()" ng-confirm-click="Update FAQ?">Update?</button>
                <h6><a href="#" style="color:red" ng-click="deleteFAQ(updatedFAQ)">DELETE</a></h6>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/faq_factory.js"></script>
<script src="js/controllers/faq_controller.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/scripts/content.js"></script>
</body>
</html>
