<% include ./partials/header %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" href="images\logo_nowords.png" type="image/png">
</head>
<body>
<div style="text-align: center">
    <h2>Upcoming Events</h2>
    <iframe src="https://calendar.google.com/calendar/embed?src=dancingwithdawn352%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <br><br>
</div>
<div id="footer"></div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/scripts/content.js"></script>