<% include ./partials/header %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" href="images/logo_nowords.png" type="image/png">
</head>
<body ng-app="home_app">
<div class="content">
    <div ng-controller="HomeController">
        <div style="text-align: center;">
            <h2>Send a Message</h2>
            <h4>Please send a message for more information on classes or if you have any questions!</h4>
            <div name="contactform" class="contactform" ng-app ng-controller="contact_form" style="width: 50%; display:inline-block;">
                <label for="contactname">Name</label>
                <input ng-model="contact.name" type="text" id="contactname" name="contactname" onClick="this.setSelectionRange(0, this.value.length)">
                <label for="contactemail">Email</label>
                <input ng-model="contact.email" type="text" id="contactemail" name="contactemail" onClick="this.setSelectionRange(0, this.value.length)">
                <label for="contactmessage">Message</label>
                <textarea ng-model="contact.message" id="contactmessage" name="contactmessage" style="height:200px" onClick="this.setSelectionRange(0, this.value.length)"></textarea>
                <input type="submit" value="Submit" ng-click="send()">
            </div>
        </div>
    </div>
</div>
</br></br>
<div id="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/home_factory.js"></script>
<script src="js/controllers/home_controller.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/scripts/content.js"></script>
</body>
</html>