<% include ./partials/header %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ Page</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
</head>
<body ng-app="faq_app">
<div class="content">
    <div ng-controller="FAQController">
        <h3>FAQ PAGE</h3>
        <table class="faqTable">
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            <tr ng-repeat="faq in faq_text">
                <td>{{faq.question}}</td>
                <td>{{faq.answer}}</td>
            </tr>
        </table>
    </div>
</div>
<div id="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/faq_factory.js"></script>
<script src="js/controllers/faq_controller.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/scripts/content.js"></script>
</body>
</html>