<% include ./partials/ppHeader %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" href="images/logo_nowords.png" type="image/png">
</head>
<body>
<div id="header"></div>
<div id="wrapper">
			

		</div>

		<div id="foto">
  		
		</div>


<div id="footer"></div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/scripts/content.js"></script>
<script src="C:\Users\byler\Documents\GitHub\dancingwithdawn\client\photo_test.js"></script>