<% include ./partials/ppHeader %>
<!DOCTYPE html>

<html lang="en">

	<head>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<!-- Get Fotorama from CDNJS, 19 KB -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

		<meta charset="UTF-8">

		<title>Photos Admin</title>

		<link rel="stylesheet" href="styles/main.css">
   	    <link rel="icon" href="images\logo_nowords.png" type="image/png">

   	    <div>

				<input
  				type="hidden"
  				name="avatar"
  				role="uploadcare-uploader"
  				data-multiple="true"
  				data-multiple-min="1" >

		</div>

		<script>
  		UPLOADCARE_PUBLIC_KEY = 'ed80130d4b7b3182afd0';
  		UPLOADCARE_IMAGES_ONLY = true;
  		UPLOADCARE_CLEARABLE = true;
		</script>


	</head>

	<body>

			
		
		<div id="wrapper">
			

		</div>

		<div id="foto">
  		
		</div>


			
</body>
	

</html>

<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>


<script src="C:\Users\byler\Documents\GitHub\dancingwithdawn\client\js\photos_js.js"></script>
